.navbar {
    display: flex;
    align-items: center;
    height: 55px;
    /* background-color: rgb(177, 174, 174); */
    background-color: #3e3333;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 0px 5px black;
    color: #D2D0D0;
}

.shopName {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow :  1px 1px 5px black; */
    color: #D2D0D0;
}

.navText {
    margin: 0px 20px;
    padding: 3px 0px;
    box-sizing: border-box;
}

.home {
    margin-left: 70px;
}

.active {
    color: #D2D0D0 !important;
}

.navText:hover {
    color: rgb(114, 114, 224);
}
