.smallImg {
    display: flex;
    justify-content: space-around;
    width: 50vw;
    margin: 0 auto;
}

.smallImgHover:hover {
    cursor: pointer;
}


.top {
    display: flex;
    margin: 30px 0;
}

.img {
    box-shadow: 0px 0px 5px rgb(117, 117, 117);
}

.bigImg {
    margin: 0 50px;
    width: 50vw;
    height: 450px;
    text-align: center;
    /* background-color: aquamarine; */
}

.productTitle {
    box-shadow: inset 0px 0px 5px rgb(90, 89, 89);
    width: 40vw;
    box-sizing: border-box;
    padding: 30px;
}

.big {
    max-height: 450px;
    max-width: 50vw;
    object-fit: contain;
}

.price {
    font-size: 27px;
    font-weight: 250;
    position: relative;
    bottom: 3px;
}

.rating {
    display: flex;
    margin-top: 15px;
}

.ratingCount {
    position: relative;
    font-size: 22px;
    bottom: 22px;
    margin-left: 8px;
    color: rgb(159, 159, 231);
}